*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    background-color: blueviolet;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    height: 50px;
    width: 50px;
    font-size: 1.5rem;
    text-align: center;
    /* border: 1px double blue; */
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
}

input[type=button] {
    border: none;
    background-color: white;
    margin-top: 20px;
    width: 200px;
}

.pin-box {
    display: flex;
    gap: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}